# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment (якщо є)
venv/
.env/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Secret keys / credentials
credentials/*.json

# Uploads (опціонально)
app/static/uploads/
